* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

span {
    text-decoration: underline;
    font-weight: bold;
}

.header-line {
    width: 100%;
    padding: 5px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(206, 206, 206, 0.1); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 120px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 24px;
    height: 24px;
}

.main-page {
    display: flex;
    height: 100vh; 
    justify-content: center;
}

.left-side, .right-side {
    flex: 1; 
}

table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 30px;
}

td {
    width: 150px; 
    height: 130px; 
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    font-family: "Sour Gummy", sans-serif;
}

.first-column {
    font-size: 21px;
    width: 100px;
}

.row1 td {
    background-color: #4b2e83;
    color: white;
}

.row2 td {
    background-color: #7f55b6;
    color: white;
}

.row3 td {
    background-color: #a8e14a;
    color: #4b2e83;
}

.title-verbs, .title-tobe {
    text-align: center;
    font-size: 35px; 
    padding-top: 40px;
    font-weight: 10px; 
    font-family: "Sour Gummy", sans-serif;
}

.button-box {
    transition: background-color 0.3s ease;
}

    .button-box:hover {
        background-color: #488f8b;
    }

.check-knowledge-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #4b2e83;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 50px;  
    left: 50%;  
    transform: translateX(-50%); 
    }

    .check-knowledge-btn:hover {
        background-color: #6a3ea5;
    }
